
{% with page_param|default:"page" as p %}

{% if page_obj.paginator.num_pages > 1 %}

<nav aria-label="Navegação de página">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?{{ p }}={{ page_obj.previous_page_number }}&{{ params }}">
                Anterior
            </a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
                href="?{{ p }}={{ page_obj.next_page_number }}&{{ params }}">
                Próxima
            </a>
        </li>
        {% endif %}

    </ul>
</nav>

{% endif %}

<div class="text-center mt-2">
    <small>
        Exibindo itens {{ page_obj.start_index }}–{{ page_obj.end_index }}
        de {{ page_obj.paginator.count }} no total
    </small>
</div>
{% endwith %}